/* Колір основного тексту #212121 */

/* Вторинний колір текста #757575 */

/* Колір акценту #2196F3 */

/* Білий колір #FFFFFF */

/* Черный цвет #000000 */

/* Вторинний колір тексту футера rgba(255, 255, 255, 0.6) */

/* Основний колір фону #E5E5E5 */

/* Вторинний колір фону #F5F4FA */

/* Фон футера #2F303A */

/* Колір фону іконок #AFB1B8 */



/* Глобальні стилі */

/* Стилізація кнопок */
.button {
  display: inline-block;
  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-style: normal;
  font-size: 16px;

  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;

  cursor: pointer;
}
.primary-button {
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.primary-button:hover,
.primary-button:focus {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}

.secondary-button {
  padding: 6px 22px;

  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);

  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}
.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.footer-subscribe-submit-button {
  padding: 10px 28px;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.footer-subscribe-submit-button:hover,
.footer-subscribe-submit-button:focus {
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
}
.modal-form-submit-button {
  padding: 10px 52px;
  align-self: center;

  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Лого */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.header-studio {
  color: var(--black-color);
}
.footer-studio {
  color: var(--white-color);
}

/* Налаштування допоміжного класу container */

.main {
  display: flex;
  align-items: baseline;
}
/* Шапка сайту */
.page-header {
  padding: 24px 0;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.main-header {
  display: flex;
  /* align-items: baseline; */
}
.nav-main {
  display: flex;
  align-items: center;
}
.nav-site {
  display: flex;
  align-items: center;
}
.nav-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.nav-site .item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  display: block;
  margin-right: 93px;
  /* padding-top: 24px;
  padding-bottom: 24px; */
}
.nav-site .item {
  position: relative;
  /* display: block; */
  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.link.current::after {
  display: flex;
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -33px;
  left: 0;
  border-radius: 2px;
  background-color: #2196f3;
}
.nav-contacts .item {
  /* display: block; */
  /* padding-top: 32px;
  padding-bottom: 32px; */
}
.nav-contacts .item:not(:last-child) {
  margin-right: 30px;
}
.nav-site .link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-dur-and-func);
}
.nav-site .link:hover,
.nav-site .link:focus {
  color: var(--accent-color);
}
.nav-contacts .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-dur-and-func);
}
.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-color);
}
.nav-site .link.current {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}

/* Герой тимчасовий колір фону */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
/* Герой  */
.overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/Overlay.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}

/* Загаловки секцій сторінки index.html*/
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Особливості */
.features {
  padding-top: 94px;
}
.feature-list {
  display: flex;
}
.feature-element {
  width: 270px;
}
.feature-element:not(:last-child) {
  margin-right: 30px;
}
.feature-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}
.icon-element {
  /* padding: 25px 100px; */
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

/* Чим ми займаємося */
.potfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-list {
  display: flex;
}
.potfolio-element:not(:last-child) {
  margin-right: 30px;
}
.potfolio-element {
  position: relative;
}
.portfolio-label {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.teams {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-background-color);
}
.team-list .title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.container-team {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--white-color);
}
.team-list {
  display: flex;
}
.team-element:not(:last-child) {
  margin-right: 30px;
}
.team-element {
  flex-basis: calc((100%-90px) / 4);
}
.team-list .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.team-element {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-links {
  display: flex;
  justify-content: center;
}
.team-social:not(:last-child) {
  margin-right: 10px;
}

.team-social .link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-background-color);
  background-color: var(--white-color);

  transition: fill var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.team-social .link:hover,
.team-social .link:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

/* Постійні клієнти */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-element:not(:last-child) {
  margin-right: 30px;
}
.clients-element .link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-background-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  fill: var(--icon-background-color);

  transition: fill var(--transition-dur-and-func), border var(--transition-dur-and-func);
}
.clients-element .link:hover,
.clients-element .link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
/* Футер */
.page-footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}
/* Футер контакти */
.footer-contacts {
  margin-right: 70px;
}
.logo.footer {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}
.contacts-list .item:not(:last-child) {
  margin-top: 0;
  margin-bottom: 9px;
}
.contacts-list .location-link {
  display: block;

  font-weight: 400;
  font-style: normal;

  color: var(--white-color);
  text-decoration: none;

  transition: color var(--transition-dur-and-func);
}
.contacts-list .location-link:hover,
.contacts-list .location-link:focus {
  color: var(--accent-color);
}
.contacts-list .contact-link {
  display: block;

  font-style: normal;
  font-weight: 400;

  color: var(--footer-text-color);

  transition: color var(--transition-dur-and-func);
}
.contacts-list .contact-link:hover,
.contacts-list .contact-link:focus {
  color: var(--accent-color);
}
.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
/* Приєднуйтесь */
.services-list {
  display: flex;
}
.services-item:not(:last-child) {
  margin-right: 10px;
}
.services-item .link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--white-color);
  background-color: var(--footer-icon-background-color);

  transition: background-color var(--transition-dur-and-func);
}
.services-item .link:hover,
.services-item .link:focus {
  background-color: var(--accent-color);
}

/* Підпишиться на розсилку */
.footer-subscribe {
  margin-left: auto;
}
.form-field {
  display: flex;
}
.form-input {
  display: block;
  height: 50px;
  width: 358px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  padding-left: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.input-icon {
  vertical-align: middle;
  margin-left: 10px;
  fill: currentColor;
}

/* Модальне вікно на бекдропі */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);

  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 528px;
  min-height: 581px;

  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-close-button {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-close-icon {
  transition: fill var(--transition-dur-and-func);
}
.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
  fill: var(--accent-color);
}

/* Форма в модальному вікні */
.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-wrapper {
  position: relative;
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border-color var(--transition-dur-and-func);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-field-hint {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-field-icon {
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-field-icon {
  fill: var(--accent-color);
}
.modal-form-comment-field {
  margin-bottom: 20px;
}
.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  resize: none;
  transition: border-color var(--transition-dur-and-func);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form-comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-form-own-check {
  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-own-check-icon {
  display: none;
  fill: var(--white-color);
}
.modal-form-check:checked + .modal-form-own-check {
  border-color: transparent;
  background-color: var(--accent-color);
}
.modal-form-check:checked + .modal-form-own-check > .modal-form-own-check-icon {
  display: block;
}
.modal-form-check:focus + .modal-form-own-check {
  box-shadow: 0 0 0 2px var(--accent-color);
}
.modal-form-own-check-conditions {
  color: var(--accent-color);
}

/* Стилі для сторінки portfolio.html */
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.filter-list .item:not(:last-child) {
  margin-right: 8px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list .item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.work-list .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.work-link {
  display: block;
}
.work-link:hover,
.work-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-overlay {
  position: relative;
  overflow: hidden;
}
.work-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}
.work-link:hover .work-thumb,
.work-link:focus .work-thumb {
  transform: translateY(0);
}

.container-work {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.container-work .title {
  margin-bottom: 4px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.container-work .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
