.section-features {
  padding-bottom: 0;
}
.section-features__list {
  display: flex;
}
.section-features__item {
  width: 270px;
}
.section-features__item:not(:last-child) {
  margin-right: 30px;
}
.section-features__title {
  margin-bottom: 10px;

  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.feature-decoration {
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.feature-decoration__icon {
  background-repeat: none;
  background-size: contain;
}