.header {
  padding: 24px 0;
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-navigation__logo {
  margin-right: 93px;
}
.header-navigation__label {
  color: var(--black-color);
}
.menu {
  display: flex;
  align-items: center;
}
.communication {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item {
  position: relative;
}

.communication__item:not(:last-child) {
  margin-right: 30px;
}
.menu__link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-dur-and-func);
}
.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}
.communication__link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-dur-and-func);
}
.communication__link:hover,
.communication__link:focus {
  color: var(--accent-color);
}

.communication__icon {
  margin-right: 10px;
  vertical-align: middle;
  fill: currentColor;
}
