.logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.page-header__logo {
  margin-right: 93px;
}
.page-footer__logo {
  margin-bottom: 20px;
}

.page-header__label {
  color: var(--black-color);
}
.page-footer__label {
  color: var(--white-color);
}
